extends layout 

block content 
 body
  form(action='/user/login', method='POST')
    p
      label(for="username") Username:
      input(type='text', name='username')
      label(for="password") Password:
      input(type='text', name='password')
      input(type='submit', value='Submit')